  .contact-form .btn-submit {
    background-color: #FFA500;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form .btn-submit:hover {
    background-color: #FF8B05;
  }